*{
  background-color: pink;
}

.sec-middle{
  display: inline-block;
  margin-left: 500px;
 margin-top: 10px;
  border: 1px solid black;
    height: 100%;
    width: 600px;
    box-shadow: 1px 2px 3px 4px;
}
.Title{
   text-align: center;
   font-size: 50px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: lighter;
}
.img-container{
  display: inline-block;
 
  position: relative;
  left: 20px;
  height: 100px;
  width: 100px;
  /* border: 1px solid black; */
}
.img{
  height: 100%;
  width: 100%;
  border-radius: 40%;
}
.title-con{
  display: inline-block;
  position: relative;
  top: -10px;
  left: 100px;
  font-size: 12px;

  /* border: 1px solid black;
  height: 100px; */
}
.close-btn{
  margin-left:250px ;
  margin-top: 10px;
  height: 50px;
  width: 140px;
  font-size: larger;
  background-color:palevioletred;
  border-radius: 20%;

}
.Refrsh-btn{
  margin-top: -20px;
 margin-left: 230px;
  height: 50px;
  width: 140px;
  font-size: larger;
  background-color:palevioletred;
  border-radius: 20%;

}